@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h3>Select City</h3>
        <select id="city-list">
            <option value="2487956">San Francisco</option>
            <option value="862592">Oslo</option>
        </select>
        <button id="but" class="btn btn-primary">Return</button>
    </div>

    <div id="weathers">

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
} 

